@import "../../styles/colors.scss";

.inputWrap {
  margin-top: 16px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;

  input {
    width: 100%;
  }

  .status {
    width: 12px;
    height: 12px;    
    border-radius: 50%;
    position: absolute;
    right: 8px;
    cursor: help;

    &.error{
      background: firebrick;
    }
    &.success{
      background: green;
    }
  }
}
